 
    
<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <a href = "registrar_usuario.html"><h2 class="title">Registro de Usuarios</h2></a>
                <h3 class="title-description">Información básica requerida </h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
   

    <!-- Contact Form -->
    <div class="row">
    	<div class="span9">
        
        	<form id="contact-form" class="text-center" action="#">
            	<p class="contact-name">&nbsp;</p>
                <p class="nombre-real">
                	<input id="nombre_real" type="text" placeholder="Nombre Completo" value="" name="nombre" />
               	</span>                </p>
              
                <p class="nombre-usuario">
                	<input id="nombre_usuario" type="text" placeholder="Nombre de Usuario" value="" name="user" />
               	</span>                </p>
                
                <p class="contraseña">
                	<input id="contraseña-usuario" type="text" placeholder="Contraseña" value="" name="contraseña" />
               	</span>                </p>
                
                <p class="email">
                	<input id="email-usuario" type="text" placeholder="Email" value="" name="email" />
               	</span>                </p>
                
                <p class="telefono">
                	<input id="telefono-usuario" type="text" placeholder="Telefono de contacto" value="" name="telefono" />
               	</span>                </p>
              
                <p class="pais">
                	<input id="pais-usuario" type="text" placeholder="País de procedencia" value="" name="pais" />
               	</span>                </p>
                
                <p class="provincia">
                	<input id="provincia-usuario" type="text" placeholder="Privincia" value="" name="provincia" />
               	</span>                </p>
                
                <p class="canton">
                	<input id="canton-usuario" type="text" placeholder="Canton" value="" name="canton" />
               	</span>                </p>
                
                <p class="distrito">
                	<input id="distrito-usuario" type="text" placeholder="Destrito" value="" name="distrito" />
               	</span>                </p>
                
                <p class="direccion exacta">
                	<input id="direccion-usuario" type="text" placeholder="Dirección exacta" value="" name="dirección exacta" />
               	</span>                </p>
                
                <p class="contact-submit">
                	<a id="contact-submit" class="submit" href="#">Registrar</a>
                </p>
                
                <div id="response">
                
                </div>
            </form>
         
        </div>
        
        <div class="span3">
        	<div class="contact-details">
        		<h3>Detalles de contacto              </h3>
        		<ul>
                  <li><a href="#">PETSFINDER@mail.com</a></li>
                    <li>(+506) 0000-0000</li>
                    <li>
                        ERLS-DEVELOPERS
                        <br>
                        San Jose, Costa Rica<br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->