<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
<head>
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Pets Finder</title>   

<meta name="description" content="PETS FINDER" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">
<style type="text/css">
body,td,th {
	font-family: "Titillium Web", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Titillium Web", sans-serif;
}
</style>

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->
</head>
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
      <div id="logo">
        	<a id="goUp" href="#home-slider" title="Pets Finder">Pets Finder</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
        	<li class="current"><a href="inicio.html">Inicio</a></li>
                <li><a href="iniciar seccion.html" class="external">INICIAR SECIÓN</a></li>
                <li><a href="registra mascota.html" class="external">REGISTRAR MASCOTA</a></li>
                 <li><a href="registra usuario.html" class="external">REGISTRAR USUARIO</a></li>
				<li><a href="registra organizacion.html" class="external">REGISTRAR ORGANIZACIONs</a></li>
          </ul>
      </nav>
        
    </div>
</header>

<body>
<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Pets Finder</h2>
                    <h3 class="title-description">Busca y encuentra tus <a href="#">Mascotas</a></h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work"> Pets Finder</li>
                        <img src="_include/img/logo pets.png" width="127" height="114" alt=""><br></br>
                        <li><a href="#filter" data-option-value="*" class="selected">Mascotas</a></li>
                        <li><a href="#filter" data-option-value=".perdida">Perros</a></li>
                        <li><a href="#filter" data-option-value=".encontrada">Gatos</a></li>
                        <li><a href="#filter" data-option-value=".galeria">Otros</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
           	  <div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                        
							<!-- Item Project and Filter Name -->
                       	  <li class="item-thumbs span3 perdida">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Perros perdidos." href="_include/img/work/full/image-01-full.jpg"><span class="overlay-img-thumb font-icon-plus"></span>

                                </a>
                                
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-01.jpg" alt="Perros extraviados en distintas partes del país.">
                                </li>
                   	<!-- End Item Project -->                           
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 encontrada">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Gatos perdidos." href="_include/img/work/full/image-02-full.jpg"><span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-02.jpg" alt="Gatos extraviados en distintas partes del país.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 galeria">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Otro tipo de mascotas perdidas." href="_include/img/work/full/image-03-full.jpg"><span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-03.jpg" alt="Mascotas poco comunes extraviadas.">
                            </li>
                        	<!-- End Item Project -->

                                                        <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span3 perdida">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Perros encontrados." href="_include/img/work/full/image-04-full.jpg"><span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-04.jpg" alt="Perros hallados en distintas partes del país.">
                            </li>
                            <!-- End Item Project -->

							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 encontrada">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Gatos encontrados." href="_include/img/work/full/image-05-full.jpg"><span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-05.jpg" alt="Gatos hallados en distintas partes del país.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 galeria">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Otro tipo de mascotas encontrada." href="_include/img/work/full/image-06-full.jpg"><span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/image-06.jpg" alt="Mascotas poco comunes halladas.">
                            </li>
                        	<!-- End Item Project -->
                        </ul>
                    </section>                    
            	</div>
</div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</body>
</html>
